name: Infra

on:
  pull_request:
    paths:
      - "infra/**"
      - ".github/workflows/infra.yml"
      - ".github/workflows/reusable-infra.yml"

  workflow_dispatch:
    inputs:
      target_env:
        description: "Environment"
        type: choice
        required: true
        options: [dev]
      plan_artifact_name:
        description: "Plan artifact name to apply (from PR run)"
        type: string
        required: false

permissions:
  contents: read

concurrency:
  group: infra-${{ github.ref }}
  cancel-in-progress: true

jobs:
  plan:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/reusable-infra.yml
    with:
      mode: plan
      target_env: dev

  apply:
    if: github.event_name == 'workflow_dispatch'
    uses: ./.github/workflows/reusable-infra.yml
    with:
      mode: apply
      target_env: ${{ inputs.target_env }}
      plan_artifact_name: ${{ inputs.plan_artifact_name }}
